<div id="content">
    <!-- Nivo Slider Start -->
    <section class="slider-wrapper">
   <app-slider></app-slider>
            
    </section>
    
    <!-- Nivo Slider End-->
    <!-- Welcom Text Start-->
    <div class="welcome">Welcome to Polishop</div>
    <p><strong>Polishop</strong> Premium Responsive HTML Template. Polishop is a clean and Fully Responsive to use the template for every kind of eCommerce online shop. Great Looks on Desktops, Tablets and Mobiles. Well Documented. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <a href="#">BUY THEME</a>.</p>
    <!-- Welcom Text End-->
    <!-- Featured Product Start-->
   <app-list-produits></app-list-produits>
  
  
  
    <!-- Product Tab End-->
    <!-- Carousel Start-->
    <section id="carousel">
      <div class=" jcarousel-skin-opencart"><div class="jcarousel-container jcarousel-container-horizontal" style="position: relative; display: block;"><div class="jcarousel-clip jcarousel-clip-horizontal" style="position: relative;"><ul class="jcarousel-list jcarousel-list-horizontal" style="overflow: hidden; position: relative; top: 0px; margin: 0px; padding: 0px; left: -184px; width: 1104px;">
        <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-1 jcarousel-item-1-horizontal" jcarouselindex="1" style="float: left; list-style: none; width: 174px;"><a href="#"><img src="assets/image/product/brand_logo.jpg" alt="brand_logo" title="brand_logo"></a></li>
        <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-2 jcarousel-item-2-horizontal" jcarouselindex="2" style="float: left; list-style: none; width: 174px;"><a href="#"><img src="assets/image/product/brand_logo.jpg" alt="brand_logo" title="brand_logo"></a></li>
        <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-3 jcarousel-item-3-horizontal" jcarouselindex="3" style="float: left; list-style: none; width: 174px;"><a href="#"><img src="assets/image/product/brand_logo.jpg" alt="brand_logo" title="brand_logo"></a></li>
        <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-4 jcarousel-item-4-horizontal" jcarouselindex="4" style="float: left; list-style: none; width: 174px;"><a href="#"><img src="assets/image/product/brand_logo.jpg" alt="brand_logo" title="brand_logo"></a></li>
        <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-5 jcarousel-item-5-horizontal" jcarouselindex="5" style="float: left; list-style: none; width: 174px;"><a href="#"><img src="assets/image/product/brand_logo.jpg" alt="brand_logo" title="brand_logo"></a></li>
        <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-6 jcarousel-item-6-horizontal" jcarouselindex="6" style="float: left; list-style: none; width: 174px;"><a href="#"><img src="assets/image/product/brand_logo.jpg" alt="brand_logo" title="brand_logo"></a></li>
      </ul></div><div class="jcarousel-prev jcarousel-prev-horizontal" style="display: block;"></div><div class="jcarousel-next jcarousel-next-horizontal jcarousel-next-disabled jcarousel-next-disabled-horizontal" style="display: block;" disabled="disabled"></div></div></div>
    </section>
    <!-- Carousel End-->
  </div>