<section class="box">
    <div class="box-heading">Featured</div>
    <div class="box-content">
      <div class="box-product">
        <div class="flexslider featured_carousel">
          <ul class="slides">
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/lotto-sports-shoes-white-210x210.jpg" alt="Lotto Sports Shoes" /></a></div>
                <div class="name"><a href="http://localhost/polishop/index.php?route=product/product&amp;product_id=43">Lotto Sports Shoes</a></div>
                <div class="price"> $589.50 </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="clear"></div>
              </div>
            </li>
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/iphone_1-210x210.jpg" alt="iPhone 4s" /></a></div>
                <div class="name"><a href="product.html">iPhone 4s</a></div>
                <div class="price"> $120.68 </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="rating"><img src="assets/image/stars-4.png" alt="Based on 1 reviews." /></div>
                <div class="clear"></div>
              </div>
            </li>
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/apple_cinema_30-210x210.jpg" alt="Apple Cinema 30&quot;" /></a></div>
                <div class="name"><a href="product.html">Apple Cinema 30&quot;</a></div>
                <div class="price"> <span class="price-old">$119.50</span><span class="price-new">$107.75</span> </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="clear"></div>
              </div>
            </li>
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/sony_vaio_1-210x210.jpg" alt="Friendly Jewelry" /></a></div>
                <div class="name"><a href="product.html">Friendly Jewelry</a></div>
                <div class="price"> $1,177.00 </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="clear"></div>
              </div>
            </li>
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/Jeep-Casual-Shoes-210x210.jpg" alt="Jeep-Casual-Shoes" /></a></div>
                <div class="name"><a href="product.html">Jeep-Casual-Shoes</a></div>
                <div class="price"> $131.25 </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="clear"></div>
              </div>
            </li>
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/htc_touch_hd_1-210x210.jpg" alt="iPhone 5s" /></a></div>
                <div class="name"><a href="product.html">iPhone 5s</a></div>
                <div class="price"> $119.50 </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="clear"></div>
              </div>
            </li>
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/ipod_touch_1-210x210.jpg" alt="Sunglass" /></a></div>
                <div class="name"><a href="product.html">Sunglass</a></div>
                <div class="price"> $1,177.00 </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="clear"></div>
              </div>
            </li>
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/reebok-men-sports-shoes-210x210.jpg" alt="Reebok Men Sports Shoes" /></a></div>
                <div class="name"><a href="product.html">Reebok Men Sports Shoes</a></div>
                <div class="price"> $119.50 </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="clear"></div>
              </div>
            </li>
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/samsung_tab_1-210x210.jpg" alt="Eagle Print Top" /></a></div>
                <div class="name"><a href="product.html">Eagle Print Top</a></div>
                <div class="price"> $236.99 </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="clear"></div>
              </div>
            </li>
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/nikon_d300_1-210x210.jpg" alt="Nikon D300" /></a></div>
                <div class="name"><a href="product.html">Nikon D300</a></div>
                <div class="price"> $942.00 </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="clear"></div>
              </div>
            </li>
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/samsung_syncmaster_941bw-210x210.jpg" alt="Samsung SyncMaster 941BW" /></a></div>
                <div class="name"><a href="product.html">Samsung SyncMaster 941BW</a></div>
                <div class="price"> $237.00 </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="clear"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="product-tab" class="product-tab">
    <ul id="tabs" class="tabs">
      <li><a href="#tab-latest">Latest</a></li>
      <li><a href="#tab-bestseller">Bestseller</a></li>
      <li><a href="#tab-special">Special</a></li>
    </ul>
    <div id="tab-latest" class="tab_content">
      <div class="box-product">
        <div class="flexslider latest_carousel_tab">
          <ul class="slides">
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/samsung_syncmaster_941bw-210x210.jpg" alt="Samsung SyncMaster 941BW" /></a></div>
                <div class="name"><a href="product.html">Samsung SyncMaster 941BW</a></div>
                <div class="price"> $237.00 </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="clear"></div>
              </div>
            </li>
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/nikon_d300_1-210x210.jpg" alt="Nikon D300" /></a></div>
                <div class="name"><a href="product.html">Nikon D300</a></div>
                <div class="price"> $942.00 </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="clear"></div>
              </div>
            </li>
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/reebok-men-sports-shoes-210x210.jpg" alt="Reebok Men Sports Shoes" /></a></div>
                <div class="name"><a href="product.html">Reebok Men Sports Shoes</a></div>
                <div class="price"> $119.50 </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="clear"></div>
              </div>
            </li>
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/ipod_touch_1-210x210.jpg" alt="Sunglass" /></a></div>
                <div class="name"><a href="product.html">Sunglass</a></div>
                <div class="price"> $1,177.00 </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="clear"></div>
              </div>
            </li>
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/samsung_tab_1-210x210.jpg" alt="Eagle Print Top" /></a></div>
                <div class="name"><a href="product.html">Eagle Print Top</a></div>
                <div class="price"> $236.99 </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="clear"></div>
              </div>
            </li>
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/iphone_1-210x210.jpg" alt="iPhone 4s" /></a></div>
                <div class="name"><a href="product.html">iPhone 4s</a></div>
                <div class="price"> $120.68 </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="rating"><img src="assets/image/stars-4.png" alt="Based on 1 reviews." /></div>
                <div class="clear"></div>
              </div>
            </li>
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/htc_touch_hd_1-210x210.jpg" alt="iPhone 5s" /></a></div>
                <div class="name"><a href="product.html">iPhone 5s</a></div>
                <div class="price"> $119.50 </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="clear"></div>
              </div>
            </li>
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/apple_cinema_30-210x210.jpg" alt="Apple Cinema 30&quot;" /></a></div>
                <div class="name"><a href="product.html">Apple Cinema 30&quot;</a></div>
                <div class="price"> <span class="price-old">$119.50</span><span class="price-new">$107.75</span> </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="clear"></div>
              </div>
            </li>
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/sony_vaio_1-210x210.jpg" alt="Friendly Jewelry" /></a></div>
                <div class="name"><a href="product.html">Friendly Jewelry</a></div>
                <div class="price"> $1,177.00 </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="clear"></div>
              </div>
            </li>
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/Jeep-Casual-Shoes-210x210.jpg" alt="Jeep-Casual-Shoes" /></a></div>
                <div class="name"><a href="product.html">Jeep-Casual-Shoes</a></div>
                <div class="price"> $131.25 </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="clear"></div>
              </div>
            </li>
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/lotto-sports-shoes-white-210x210.jpg" alt="Lotto Sports Shoes" /></a></div>
                <div class="name"><a href="http://localhost/polishop/index.php?route=product/product&amp;product_id=43">Lotto Sports Shoes</a></div>
                <div class="price"> $589.50 </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="clear"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="tab-bestseller" class="tab_content">
      <div class="box-product">
        <div class="flexslider bestseller_carousel_tab">
          <ul class="slides">
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/apple_cinema_30-210x210.jpg" alt="Apple Cinema 30&quot;" /></a></div>
                <div class="name"><a href="product.html">Apple Cinema 30&quot;</a></div>
                <div class="price"> <span class="price-old">$119.50</span><span class="price-new">$107.75</span> </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="clear"></div>
              </div>
            </li>
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/sony_vaio_1-210x210.jpg" alt="Friendly Jewelry" /></a></div>
                <div class="name"><a href="product.html">Friendly Jewelry</a></div>
                <div class="price"> $1,177.00 </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="clear"></div>
              </div>
            </li>
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/Jeep-Casual-Shoes-210x210.jpg" alt="Jeep-Casual-Shoes" /></a></div>
                <div class="name"><a href="product.html">Jeep-Casual-Shoes</a></div>
                <div class="price"> $131.25 </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="clear"></div>
              </div>
            </li>
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/lotto-sports-shoes-white-210x210.jpg" alt="Lotto Sports Shoes" /></a></div>
                <div class="name"><a href="http://localhost/polishop/index.php?route=product/product&amp;product_id=43">Lotto Sports Shoes</a></div>
                <div class="price"> $589.50 </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="clear"></div>
              </div>
            </li>
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/ipod_touch_1-210x210.jpg" alt="Sunglass" /></a></div>
                <div class="name"><a href="product.html">Sunglass</a></div>
                <div class="price"> $1,177.00 </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="clear"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="tab-special" class="tab_content">
      <div class="box-product">
        <div class="flexslider special_carousel_tab">
          <ul class="slides">
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/Jeep-Casual-Shoes-210x210.jpg" alt="Jeep-Casual-Shoes" /></a></div>
                <div class="name"><a href="product.html">Jeep-Casual-Shoes</a></div>
                <div class="price"> $131.25 </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="clear"></div>
              </div>
            </li>
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/lotto-sports-shoes-white-210x210.jpg" alt="Lotto Sports Shoes" /></a></div>
                <div class="name"><a href="http://localhost/polishop/index.php?route=product/product&amp;product_id=43">Lotto Sports Shoes</a></div>
                <div class="price"> $589.50 </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="clear"></div>
              </div>
            </li>
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/ipod_touch_1-210x210.jpg" alt="Sunglass" /></a></div>
                <div class="name"><a href="product.html">Sunglass</a></div>
                <div class="price"> $1,177.00 </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="clear"></div>
              </div>
            </li>
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/samsung_syncmaster_941bw-210x210.jpg" alt="Samsung SyncMaster 941BW" /></a></div>
                <div class="name"><a href="product.html">Samsung SyncMaster 941BW</a></div>
                <div class="price"> $237.00 </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="clear"></div>
              </div>
            </li>
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/ipod_touch_1-210x210.jpg" alt="Sunglass" /></a></div>
                <div class="name"><a href="product.html">Sunglass</a></div>
                <div class="price"> $1,177.00 </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="clear"></div>
              </div>
            </li>
            <li>
              <div class="slide-inner">
                <div class="image"><a href="product.html"><img src="assets/image/product/samsung_tab_1-210x210.jpg" alt="Eagle Print Top" /></a></div>
                <div class="name"><a href="product.html">Eagle Print Top</a></div>
                <div class="price"> $236.99 </div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="clear"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>