<section class="box">
    <div class="box-heading">Featured</div>
    <div class="box-content">
      <div class="box-product">
        <div class="flexslider featured_carousel">
          <ul class="slides" >
            <li *ngFor="let item of listprod" >
              <div class="slide-inner">
                <div class="image"  *ngFor="let k of item?.images"><a href="product.html"><img src='{{getSantizeUrl(k.url)}}' alt="Lotto Sports Shoes" /></a></div>
                <div class="name"><a href="http://localhost/polishop/index.php?route=product/product&amp;product_id=43">{{ item.titre }}</a></div>
                <div class="price"> {{ item.prix }} dt</div>
                <div class="cart">
                  <input type="button" value="Add to Cart" class="button" />
                </div>
                <div class="clear"></div>
              </div>
            </li>
      
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="product-tab" class="product-tab">
    <ul id="tabs" class="tabs">
      <li><a href="#tab-latest">Latest</a></li>
      <li><a href="#tab-bestseller">Bestseller</a></li>
      <li><a href="#tab-special">Special</a></li>
    </ul>
    <div id="tab-latest" class="tab_content">
      <div class="box-product">
        <div class="flexslider latest_carousel_tab">
          <ul class="slides">
          
            <li *ngFor="let item of listprod" >
                <div class="slide-inner">
                  <div class="image"  *ngFor="let k of item?.images"><a href="product.html"><img src='{{getSantizeUrl(k.url)}}' alt="Lotto Sports Shoes" /></a></div>
                  <div class="name"><a href="http://localhost/polishop/index.php?route=product/product&amp;product_id=43">{{ item.titre }}</a></div>
                  <div class="price"> {{ item.prix }} dt</div>
                  <div class="cart">
                    <input type="button" value="Add to Cart" class="button" />
                  </div>
                  <div class="clear"></div>
                </div>
              </li>
            
         
          </ul>
        </div>
      </div>
    </div>
 
  </section>